
body { 
    background-color: #F2FFFC;
    font-family: "Crimson Text", serif;
    font-size: 20px;
    line-height: 1.5;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1{
    text-align: center;
	background-color: #851944;
	color: #FFF;
	padding: 25px;
	border-bottom: 10px solid black;
    text-transform: uppercase;
}

p {
    text-align: justify;
}

blockquote {
    background-color: #D3DDDA;
    padding: 16px;
    border: 10px solid #C2CCCA;    
    width: 198px;
    box-sizing:  border-box;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

footer {
	background-color: #000;
	color: #F2FFFC;
}

blockquote, aside, footer {
    padding: 20px;
}

main div {
	width: 720px;
	margin: auto;
}
.icones-sociais li {
    display: inline-block;     
}

.icones-sociais a {    
    width: 40px;
    height: 40px;
    display: inline-block;   
    text-indent: -99999px;
}

.github {
    background-image: url(github.png);
}

.twitter {
    background-image: url(twitter.png);
}

.linkdin {
    background-image: url(linkedin.png);
}


