*{
    margin:0;
    padding: 500;
}
body {
    background: #000000; 
}
div {
    position: relative;
    width: 20%;
    height: 200px;
    background-color: yellow;
    border bottom: solid 10px double white;
    
    
    
}
.perfil {
    width: 125px;
    height: 125px;
    border: 5px double gray;
    border-radius: 55%;
    padding: inherit;
    margin: 40%, 20px;
    position: absolute;
    top: 30px;
    left:50px; 
    
}

.perfil:hover {
    border: 5px solid red;
    zoom: 125%;
}
.endereco {
    clear: both;
}

.dados-pessoais {
    color: white;
    position: absolute;
     width: 20%;
    height: 200px;
    text-align: center;
    font-size: 16px;
    font-family: "Arial", serif;
    
}

div, div1, h5, p {
    text-align: justify;
    font-family: "Arial", serif;
    font-style: italic;
   
    
}

    

 
