*{
	margin: 0;
}
.capa {
    width: 1400px;
    height: 250px;    
}

.titulo {
    position:absolute;
    top: 180px;
    left: 40%;    
}
.titulo h1 {
    color: white;
    font-family: "Times New Roman", "Arial", serif;
    font-size: 55px;
   font-style: italic;
}

.navegacao li {
    display:  inline-block;
    font-size: 30px;    
    padding: 5px;
   
}

.navegacao {
    text-align: center;
    background-color: burlywood;
}

body {
	position: relative;
	background-color: #696969;
	color: black;
}

body h1 {
	color: black
}

div ul a{
	color: black;
}

.perfil {
    width: 407px;
    height: 300px;
    position:absolute;
    left: 50px;
    top: 400px;

}

.bio {
    width: 40%;
    height: 20%;    
    position: relative;
    left: 50%;
    top: 100px;
    font-size: 20px;
    top: 100px;
}

footer {
    padding: 15px;
    position: relative;
    top: 500px;
    clear: both;
    background-color: black;
    color: white;
}

icones-sociais li {
    display: inline-block; 
}

.icones-sociais a { 
    position: relative;
    top: 550px;
    width: 40px;
    height: 40px;
    display: inline-block;   
    text-indent: -99999px;
    display: inline-block;
}

.github {
    background-image: url(github.png);
}

.twitter {
    background-image: url(twitter.png);
}

.linkdin {
    background-image: url(linkedin.png);
}

